# Production Environment
VITE_API_URL=https://tuodominio.com/api

# Mapbox per zone consegna (PUBLIC TOKEN)
VITE_MAPBOX_TOKEN=sk_METTI_IL_TUO_TOKEN_MAPBOX_QUI

# Bink OAuth
VITE_BINK_CLIENT_ID=onemanager-b696eb
